
{%- include 'datatable_header.j2' %}
{%- if "Tenant" in api %}
<h1>Tenants</h1>
<table id = "datatable">
<thead>
  <tr>
    <th>Name</th>
    <th>Alias</th>
    <th>Description</th>
    <th>Status</th>
    <th>DN</th>
    <th>UID</th>
    <th>Annotation</th>
    <th>Child Action</th>
    <th>Externally Managed By</th>
    <th>Local Owner</th>
    <th>Monitoring Policy DN</th>
    <th>Owner Key</th>
    <th>Owner Tag</th>
    <th>User Domain</th>
    <th>Modified Timestamp</th>
  </tr>
</thead>  
<tbody>
{%-     for tenant in data_to_template['imdata'] %}
  <tr>
    <td>{{ tenant.fvTenant.attributes.name }}</td>
    <td>{{ tenant.fvTenant.attributes.nameAlias }}</td>
    <td>{{ tenant.fvTenant.attributes.descr }}</td>
    <td>{{ tenant.fvTenant.attributes.status }}</td>
    <td>{{ tenant.fvTenant.attributes.dn }}</td>
    <td>{{ tenant.fvTenant.attributes.uid }}</td>
    <td>{{ tenant.fvTenant.attributes.annotation }}</td>
    <td>{{ tenant.fvTenant.attributes.childAction }}</td>
    <td>{{ tenant.fvTenant.attributes.extMngdBy }}</td>
    <td>{{ tenant.fvTenant.attributes.lcOwn }}</td>
    <td>{{ tenant.fvTenant.attributes.monPolDn }}</td>
    <td>{{ tenant.fvTenant.attributes.ownerKey }}</td>
    <td>{{ tenant.fvTenant.attributes.ownerTag }}</td>
    <td>{{ tenant.fvTenant.attributes.userdom }}</td>
    <td>{{ tenant.fvTenant.attributes.modTs }}</td>
  </tr>
{%-     endfor %}
</tbody>
</table>
{%- else %}
{%- if "AEPg" in api %}
<h1>Endpoint Groups</h1>
<table id = "datatable">
<thead>
  <tr>
    <th>Name</th>
    <th>Alias</th>
    <th>Description</th>
    <th>Status</th>
    <th>DN</th>
    <th>UID</th>
    <th>Annotation</th>
    <th>Child Action</th>
    <th>Externally Managed By</th>
    <th>Local Owner</th>
    <th>Monitoring Policy DN</th>
    <th>User Domain</th>
    <th>Configuration Issues</th>
    <th>Configuration State</th>
    <th>Exception Tag</th>
    <th>Flood On Encapsulation</th>
    <th>Forward Control</th>
    <th>Has Multicast Source</th>
    <th>Is Attribute Based EPG</th>
    <th>Is Shared Service Multicast Site EPG</th>
    <th>Match T</th>
    <th>PC Enforcement Preference</th>
    <th>PC Tag</th>
    <th>PC Tag Allocation Source</th>
    <th>Preference Gr Member</th>
    <th>Priority</th>
    <th>Scope</th>
    <th>Shutdown</th>
    <th>Trigger State</th>
    <th>TX Id</th>
    <th>Modified Timestamp</th>
  </tr>
</thead>  
<tbody>
{%-     for epg in data_to_template['imdata'] %}
  <tr>
    <td>{{ epg.fvAEPg.attributes.name }}</td>
    <td>{{ epg.fvAEPg.attributes.nameAlias }}</td>
    <td>{{ epg.fvAEPg.attributes.descr }}</td>
    <td>{{ epg.fvAEPg.attributes.status }}</td>
    <td>{{ epg.fvAEPg.attributes.dn }}</td>
    <td>{{ epg.fvAEPg.attributes.uid }}</td>
    <td>{{ epg.fvAEPg.attributes.annotation }}</td>
    <td>{{ epg.fvAEPg.attributes.childAction }}</td>
    <td>{{ epg.fvAEPg.attributes.extMngdBy }}</td>
    <td>{{ epg.fvAEPg.attributes.lcOwn }}</td>
    <td>{{ epg.fvAEPg.attributes.monPolDn }}</td>
    <td>{{ epg.fvAEPg.attributes.userdom }}</td>
    <td>{{ epg.fvAEPg.attributes.configIssues }}</td>
    <td>{{ epg.fvAEPg.attributes.configSt }}</td>
    <td>{{ epg.fvAEPg.attributes.exceptionTag }}</td>
    <td>{{ epg.fvAEPg.attributes.floodOnEncap }}</td>
    <td>{{ epg.fvAEPg.attributes.fwdCtrl }}</td>
    <td>{{ epg.fvAEPg.attributes.hasMcastSource }}</td>
    <td>{{ epg.fvAEPg.attributes.isAttrBasedEPg }}</td>
    <td>{{ epg.fvAEPg.attributes.isSharedSrvMsiteEPg }}</td>
    <td>{{ epg.fvAEPg.attributes.matchT }}</td>
    <td>{{ epg.fvAEPg.attributes.pcEnfPref }}</td>
    <td>{{ epg.fvAEPg.attributes.pcTag }}</td>
    <td>{{ epg.fvAEPg.attributes.pcTagAllocSrc }}</td>
    <td>{{ epg.fvAEPg.attributes.prefGrMemb }}</td>
    <td>{{ epg.fvAEPg.attributes.prio }}</td>
    <td>{{ epg.fvAEPg.attributes.scope }}</td>
    <td>{{ epg.fvAEPg.attributes.shutdown }}</td>
    <td>{{ epg.fvAEPg.attributes.triggerSt }}</td>
    <td>{{ epg.fvAEPg.attributes.txId }}</td>
    <td>{{ epg.fvAEPg.attributes.modTs }}</td>
  </tr>
{%-     endfor %}
</tbody>
</table>
{%- else %}
{%- if "BD" in api %}
<h1>Bridge Domains</h1>
<table id = "datatable">
<thead>
  <tr>
    <th>Name</th>
    <th>Alias</th>
    <th>Description</th>
    <th>Status</th>
    <th>DN</th>
    <th>UID</th>
    <th>Annotation</th>
    <th>Child Action</th>
    <th>Externally Managed By</th>
    <th>Local Owner</th>
    <th>Monitoring Policy DN</th>
    <th>User Domain</th>
    <th>Configuration Issues</th>
    <th>Optimize Wan Bandwidth</th>
    <th>ARP Flood</th>
    <th>Broadcast P</th>
    <th>Endpoint Clear</th>
    <th>Endpoint Move Detect Mode</th>
    <th>Host Based Routing</th>
    <th>Intersite BUM Traffic Allow</th>
    <th>Intersite L2 Stretch</th>
    <th>IP Learning</th>
    <th>IPv6 Multicast Allow</th>
    <th>Limit IP Learn To Subnets</th>
    <th>Link Local Address</th>
    <th>MAC</th>
    <th>Multicast Allow</th>
    <th>MTU</th>
    <th>Multicase Destination Packet Action</th>
    <th>Owner Key</th>
    <th>Owner Tag</th>
    <th>PC Tag</th>
    <th>Scope</th>
    <th>Segment</th>
    <th>Type</th>
    <th>Unicast Route</th>
    <th>Unknown MAC Unicast Action</th>
    <th>Unknown Multicast Action</th>
    <th>IPv6 Unknown Multicast Action</th>
    <th>Virtual MAC</th>
    <th>Modified Timestamp</th>
  </tr>
</thead>  
<tbody>
{%-     for bd in data_to_template['imdata'] %}
  <tr>
    <td>{{ bd.fvBD.attributes.name }}</td>
    <td>{{ bd.fvBD.attributes.nameAlias }}</td>
    <td>{{ bd.fvBD.attributes.descr }}</td>
    <td>{{ bd.fvBD.attributes.status }}</td>
    <td>{{ bd.fvBD.attributes.dn }}</td>
    <td>{{ bd.fvBD.attributes.uid }}</td>
    <td>{{ bd.fvBD.attributes.annotation }}</td>
    <td>{{ bd.fvBD.attributes.childAction }}</td>
    <td>{{ bd.fvBD.attributes.extMngdBy }}</td>
    <td>{{ bd.fvBD.attributes.lcOwn }}</td>
    <td>{{ bd.fvBD.attributes.monPolDn }}</td>
    <td>{{ bd.fvBD.attributes.userdom }}</td>
    <td>{{ bd.fvBD.attributes.configIssues }}</td>
    <td>{{ bd.fvBD.attributes.OptimizeWanBandwidth }}</td>
    <td>{{ bd.fvBD.attributes.arpFlood }}</td>
    <td>{{ bd.fvBD.attributes.bcastP }}</td>
    <td>{{ bd.fvBD.attributes.epClear }}</td>
    <td>{{ bd.fvBD.attributes.epMoveDetectMode }}</td>
    <td>{{ bd.fvBD.attributes.hostBasedRouting }}</td>
    <td>{{ bd.fvBD.attributes.intersiteBumTrafficAllow }}</td>
    <td>{{ bd.fvBD.attributes.intersiteL2Stretch }}</td>
    <td>{{ bd.fvBD.attributes.ipLearning }}</td>
    <td>{{ bd.fvBD.attributes.ipv6McastAllow }}</td>
    <td>{{ bd.fvBD.attributes.limitIpLearnToSubnets }}</td>
    <td>{{ bd.fvBD.attributes.llAddr }}</td>
    <td>{{ bd.fvBD.attributes.mac }}</td>
    <td>{{ bd.fvBD.attributes.mcastAllow }}</td>
    <td>{{ bd.fvBD.attributes.mtu }}</td>
    <td>{{ bd.fvBD.attributes.multiDstPktAct }}</td>
    <td>{{ bd.fvBD.attributes.ownerKey }}</td>
    <td>{{ bd.fvBD.attributes.ownerTag }}</td>
    <td>{{ bd.fvBD.attributes.pcTag }}</td>
    <td>{{ bd.fvBD.attributes.scope }}</td>
    <td>{{ bd.fvBD.attributes.seg }}</td>
    <td>{{ bd.fvBD.attributes.type }}</td>
    <td>{{ bd.fvBD.attributes.unicastRoute }}</td>
    <td>{{ bd.fvBD.attributes.unkMacUcastAct }}</td>
    <td>{{ bd.fvBD.attributes.unkMcastAct }}</td>
    <td>{{ bd.fvBD.attributes.v6unkMcastAct }}</td>
    <td>{{ bd.fvBD.attributes.vmac }}</td>
    <td>{{ bd.fvBD.attributes.modTs }}</td>
  </tr>
{%-     endfor %}
</tbody>
</table>
{%- else %}
{%- if "Ctx" in api %}
<h1>Contexts</h1>
<table id = "datatable">
<thead>
  <tr>
    <th>Name</th>
    <th>Alias</th>
    <th>Description</th>
    <th>Status</th>
    <th>DN</th>
    <th>UID</th>
    <th>Annotation</th>
    <th>Child Action</th>
    <th>Externally Managed By</th>
    <th>Local Owner</th>
    <th>Monitoring Policy DN</th>
    <th>User Domain</th>
    <th>Bridge Domain Enforced Enable</th>
    <th>IP Data Plane Learning</th>
    <th>Known Multicast Action</th>
    <th>Owner Key</th>
    <th>Owner Tag</th>
    <th>PC Enforce Directory</th>
    <th>PC Enforce Directory Updated</th>
    <th>PC Enforce Preference</th>
    <th>PC Tag</th>
    <th>Scope</th>
    <th>Seg</th>
    <th>VRF ID</th>
    <th>VRF Index</th>
    <th>Modified Timestamp</th>
  </tr>
</thead>
<tbody>
{%-     for context in data_to_template['imdata'] %}
  <tr>
    <td>{{ context.fvCtx.attributes.name }}</td>
    <td>{{ context.fvCtx.attributes.nameAlias }}</td>
    <td>{{ context.fvCtx.attributes.descr }}</td>
    <td>{{ context.fvCtx.attributes.status }}</td>
    <td>{{ context.fvCtx.attributes.dn }}</td>
    <td>{{ context.fvCtx.attributes.uid }}</td>
    <td>{{ context.fvCtx.attributes.annotation }}</td>
    <td>{{ context.fvCtx.attributes.childAction }}</td>
    <td>{{ context.fvCtx.attributes.extMngdBy }}</td>
    <td>{{ context.fvCtx.attributes.lcOwn }}</td>
    <td>{{ context.fvCtx.attributes.monPolDn }}</td>
    <td>{{ context.fvCtx.attributes.userdom }}</td>
    <td>{{ context.fvCtx.attributes.bdEnforcedEnable }}</td>
    <td>{{ context.fvCtx.attributes.ipDataPlaneLearning }}</td>
    <td>{{ context.fvCtx.attributes.knwMcastAct }}</td>
    <td>{{ context.fvCtx.attributes.ownerKey }}</td>
    <td>{{ context.fvCtx.attributes.ownerTag }}</td>
    <td>{{ context.fvCtx.attributes.pcEnfDir }}</td>
    <td>{{ context.fvCtx.attributes.pcEnfDirUpdated }}</td>
    <td>{{ context.fvCtx.attributes.pcEnfPref }}</td>
    <td>{{ context.fvCtx.attributes.pcTag }}</td>
    <td>{{ context.fvCtx.attributes.scope }}</td>
    <td>{{ context.fvCtx.attributes.seg }}</td>
    <td>{{ context.fvCtx.attributes.vrfId }}</td>
    <td>{{ context.fvCtx.attributes.vrfIndex }}</td>
    <td>{{ context.fvCtx.attributes.modTs }}</td>
  </tr>
{%-     endfor %}
</tbody>
</table>
{%- else %}
{%- if "Ap" in api %}
<h1>Application Profiles</h1>
<table id = "datatable">
<thead>
  <tr>
    <th>Name</th>
    <th>Alias</th>
    <th>Description</th>
    <th>Status</th>
    <th>DN</th>
    <th>UID</th>
    <th>Annotation</th>
    <th>Child Action</th>
    <th>Externally Managed By</th>
    <th>Local Owner</th>
    <th>Monitoring Policy DN</th>
    <th>User Domain</th>
    <th>Owner Key</th>
    <th>Owner Tag</th>
    <th>Priority</th>
    <th>Modified Timestamp</th>
  </tr>
</thead>
<tbody>
{%-     for application_profile in data_to_template['imdata'] %}
  <tr>
    <td>{{ application_profile.fvAp.attributes.name }}</td>
    <td>{{ application_profile.fvAp.attributes.nameAlias }}</td>
    <td>{{ application_profile.fvAp.attributes.descr }}</td>
    <td>{{ application_profile.fvAp.attributes.status }}</td>
    <td>{{ application_profile.fvAp.attributes.dn }}</td>
    <td>{{ application_profile.fvAp.attributes.uid }}</td>
    <td>{{ application_profile.fvAp.attributes.annotation }}</td>
    <td>{{ application_profile.fvAp.attributes.childAction }}</td>
    <td>{{ application_profile.fvAp.attributes.extMngdBy }}</td>
    <td>{{ application_profile.fvAp.attributes.lcOwn }}</td>
    <td>{{ application_profile.fvAp.attributes.monPolDn }}</td>
    <td>{{ application_profile.fvAp.attributes.userdom }}</td>
    <td>{{ application_profile.fvAp.attributes.ownerKey }}</td>
    <td>{{ application_profile.fvAp.attributes.ownerTag }}</td>
    <td>{{ application_profile.fvAp.attributes.prio }}</td>
    <td>{{ application_profile.fvAp.attributes.modTs }}</td>
  </tr>
{%-     endfor %}
</tbody>
</table>
{%- else %}
{%- if "l3extOut" in api %}
<h1>L3Outs</h1>
<table id = "datatable">
<thead>
  <tr>
    <th>Name</th>
    <th>Alias</th>
    <th>Description</th>
    <th>Status</th>
    <th>DN</th>
    <th>UID</th>
    <th>Annotation</th>
    <th>Child Action</th>
    <th>Externally Managed By</th>
    <th>Local Owner</th>
    <th>Monitoring Policy DN</th>
    <th>User Domain</th>
    <th>Owner Key</th>
    <th>Owner Tag</th>
    <th>Priority</th>
    <th>Enforce Route Control</th>
    <th>Target DSCP</th>
    <th>Modified Timestamp</th>
  </tr>
</thead>
<tbody>
{%-     for l3out in data_to_template['imdata'] %}
  <tr>
    <td>{{ l3out.l3extOut.attributes.name }}</td>
    <td>{{ l3out.l3extOut.attributes.nameAlias }}</td>
    <td>{{ l3out.l3extOut.attributes.descr }}</td>
    <td>{{ l3out.l3extOut.attributes.status }}</td>
    <td>{{ l3out.l3extOut.attributes.dn }}</td>
    <td>{{ l3out.l3extOut.attributes.uid }}</td>
    <td>{{ l3out.l3extOut.attributes.annotation }}</td>
    <td>{{ l3out.l3extOut.attributes.childAction }}</td>
    <td>{{ l3out.l3extOut.attributes.extMngdBy }}</td>
    <td>{{ l3out.l3extOut.attributes.lcOwn }}</td>
    <td>{{ l3out.l3extOut.attributes.monPolDn }}</td>
    <td>{{ l3out.l3extOut.attributes.userdom }}</td>
    <td>{{ l3out.l3extOut.attributes.ownerKey }}</td>
    <td>{{ l3out.l3extOut.attributes.ownerTag }}</td>
    <td>{{ l3out.l3extOut.attributes.prio }}</td>
    <td>{{ l3out.l3extOut.attributes.enforceRtctrl }}</td>
    <td>{{ l3out.l3extOut.attributes.targetDscp }}</td>
    <td>{{ l3out.l3extOut.attributes.modTs }}</td>
  </tr>
{%-     endfor %}
</tbody>
</table>
{%- else %}
{%- if "topSystem" in api %}
<h1>Top System</h1>
<table id = "datatable">
<thead>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Bootstrap State</th>
    <th>Child Action</th>
    <th>Cluster Time Diff</th>
    <th>Configuration Issues</th>
    <th>Control Plane MTU</th>
    <th>Current Time</th>
    <th>DN</th>
    <th>Enforce Subnet Check</th>
    <th>ETEP Address</th>
    <th>Fabric Domain</th>
    <th>Fabric ID</th>
    <th>Fabric MAC</th>
    <th>ID</th>
    <th>Inband Mgmt Address</th>
    <th>Inband Mgmt Address6</th>
    <th>Inband Mgmt Address6 Mask</th>
    <th>Inband Mgmt Address Mask</th>
    <th>Inband Mgmt Gateway</th>
    <th>Inband Mgmt Gateway6</th>
    <th>Last Reboot Time</th>
    <th>Last Reset Reason</th>
    <th>LC Own</th>
    <th>Modified Timestamp</th>
    <th>Mode</th>
    <th>Monitoring Policy DN</th>
    <th>Name Alias</th>
    <th>Node Type</th>
    <th>Out of Band Mgmt Address</th>
    <th>Out of Band Mgmt Address6</th>
    <th>Out of Band Mgmt Address6 Mask</th>
    <th>Out of Band Mgmt Address Mask</th>
    <th>Out of Band Mgmt Gateway</th>
    <th>Out of Band Mgmt Gateway6</th>
    <th>Pod ID</th>
    <th>Remote Network ID</th>
    <th>Remote Node</th>
    <th>RL Oper Pod ID</th>
    <th>RL Routable Mode</th>
    <th>RL Direct Mode</th>
    <th>Role</th>
    <th>Serial Number</th>
    <th>Server Type</th>
    <th>Site ID</th>
    <th>State</th>
    <th>Status</th>
    <th>System Uptime</th>
    <th>TEP Pool</th>
    <th>Unicast XR EP Learn Disable</th>
    <th>Version</th>
    <th>Virtual Mode</th>
  </tr>
</thead>
<tbody>
{%-     for topSystem in data_to_template['imdata'] %}
  <tr>
    <td>{{ topSystem.topSystem.attributes.name }}</td>
    <td>{{ topSystem.topSystem.attributes.address }}</td>
    <td>{{ topSystem.topSystem.attributes.bootstrapState }}</td>
    <td>{{ topSystem.topSystem.attributes.childAction }}</td>
    <td>{{ topSystem.topSystem.attributes.clusterTimeDiff }}</td>
    <td>{{ topSystem.topSystem.attributes.configIssues }}</td>
    <td>{{ topSystem.topSystem.attributes.controlPlaneMTU }}</td>
    <td>{{ topSystem.topSystem.attributes.currentTime }}</td>
    <td>{{ topSystem.topSystem.attributes.dn }}</td>
    <td>{{ topSystem.topSystem.attributes.enforceSubnetCheck }}</td>
    <td>{{ topSystem.topSystem.attributes.etepAddr }}</td>
    <td>{{ topSystem.topSystem.attributes.fabricDomain }}</td>
    <td>{{ topSystem.topSystem.attributes.fabricId }}</td>
    <td>{{ topSystem.topSystem.attributes.fabricMAC }}</td>
    <td>{{ topSystem.topSystem.attributes.id }}</td>
    <td>{{ topSystem.topSystem.attributes.inbMgmtAddr }}</td>
    <td>{{ topSystem.topSystem.attributes.inbMgmtAddr }}</td>
    <td>{{ topSystem.topSystem.attributes.inbMgmtAddr6Mask }}</td>
    <td>{{ topSystem.topSystem.attributes.inbMgmtAddrMask }}</td>
    <td>{{ topSystem.topSystem.attributes.inbMgmtGateway }}</td>
    <td>{{ topSystem.topSystem.attributes.inbMgmtGateway6 }}</td>
    <td>{{ topSystem.topSystem.attributes.lastRebootTime }}</td>
    <td>{{ topSystem.topSystem.attributes.lastResetReason }}</td>
    <td>{{ topSystem.topSystem.attributes.lcOwn }}</td>
    <td>{{ topSystem.topSystem.attributes.modTs }}</td>
    <td>{{ topSystem.topSystem.attributes.mode }}</td>
    <td>{{ topSystem.topSystem.attributes.monPolDn }}</td>
    <td>{{ topSystem.topSystem.attributes.nameAlias }}</td>
    <td>{{ topSystem.topSystem.attributes.nodeType }}</td>
    <td>{{ topSystem.topSystem.attributes.oobMgmtAddr }}</td>
    <td>{{ topSystem.topSystem.attributes.oobMgmtAddr6 }}</td>
    <td>{{ topSystem.topSystem.attributes.oobMgmtAddr6Mask }}</td>
    <td>{{ topSystem.topSystem.attributes.oobMgmtAddrMask }}</td>
    <td>{{ topSystem.topSystem.attributes.oobMgmtGateway }}</td>
    <td>{{ topSystem.topSystem.attributes.oobMgmtGateway6 }}</td>
    <td>{{ topSystem.topSystem.attributes.podId }}</td>
    <td>{{ topSystem.topSystem.attributes.remoteNetworkId }}</td>
    <td>{{ topSystem.topSystem.attributes.remoteNode }}</td>
    <td>{{ topSystem.topSystem.attributes.rlOperPodId }}</td>
    <td>{{ topSystem.topSystem.attributes.rlRoutableMode }}</td>
    <td>{{ topSystem.topSystem.attributes.rldirectMode }}</td>
    <td>{{ topSystem.topSystem.attributes.role }}</td>
    <td>{{ topSystem.topSystem.attributes.serial }}</td>
    <td>{{ topSystem.topSystem.attributes.serverType }}</td>
    <td>{{ topSystem.topSystem.attributes.siteId }}</td>
    <td>{{ topSystem.topSystem.attributes.state }}</td>
    <td>{{ topSystem.topSystem.attributes.status }}</td>
    <td>{{ topSystem.topSystem.attributes.systemUpTime }}</td>
    <td>{{ topSystem.topSystem.attributes.tepPool }}</td>
    <td>{{ topSystem.topSystem.attributes.unicastXrEpLearnDisable }}</td>
    <td>{{ topSystem.topSystem.attributes.version }}</td>
    <td>{{ topSystem.topSystem.attributes.virtualMode }}</td>
  </tr>
{%-     endfor %}
</tbody>
</table>
{%- else %}
{%- if "Subnet" in api %}
<h1>Subnets</h1>
<table id = "datatable">
<thead>
  <tr>
    <th>Name</th>
    <th>Alias</th>
    <th>Annotation</th>
    <th>Child Action</th>
    <th>Config Issues</th>
    <th>Control</th>
    <th>Debug Message</th>
    <th>Description</th>
    <th>DN</th>
    <th>Externally Managed By</th>
    <th>IP</th>
    <th>IP Data Plane Learning</th>
    <th>LC Owner</th>
    <th>Monitoring Policy DN</th>
    <th>Preferred</th>
    <th>Scope</th>
    <th>Status</th>
    <th>UID</th>
    <th>User Domain</th>
    <th>Virtual</th>
    <th>Last Modified</th>
  </tr>
</thead>
<tbody>    
{%-     for subnet in data_to_template['imdata'] %}
  <tr>
    <td>{{ subnet.fvSubnet.attributes.name }}</td>
    <td>{{ subnet.fvSubnet.attributes.nameAlias }}</td>
    <td>{{ subnet.fvSubnet.attributes.annotation }}</td>
    <td>{{ subnet.fvSubnet.attributes.childAction }}</td>
    <td>{{ subnet.fvSubnet.attributes.configIssues }}</td>
    <td>{{ subnet.fvSubnet.attributes.ctrl }}</td>
    <td>{{ subnet.fvSubnet.attributes.debugMessage }}</td>
    <td>{{ subnet.fvSubnet.attributes.descr }}</td>
    <td>{{ subnet.fvSubnet.attributes.dn }}</td>
    <td>{{ subnet.fvSubnet.attributes.extMngdBy }}</td>
    <td>{{ subnet.fvSubnet.attributes.ip }}</td>
    <td>{{ subnet.fvSubnet.attributes.ipDPLearning }}</td>
    <td>{{ subnet.fvSubnet.attributes.lcOwn }}</td>
    <td>{{ subnet.fvSubnet.attributes.monPolDn }}</td>
    <td>{{ subnet.fvSubnet.attributes.preferred }}</td>
    <td>{{ subnet.fvSubnet.attributes.scope }}</td>
    <td>{{ subnet.fvSubnet.attributes.status }}</td>
    <td>{{ subnet.fvSubnet.attributes.uid }}</td>
    <td>{{ subnet.fvSubnet.attributes.userdom }}</td>
    <td>{{ subnet.fvSubnet.attributes.virtual }}</td>
    <td>{{ subnet.fvSubnet.attributes.modTs }}</td>
</tr>
{%-     endfor %}
</tbody>
</table>
{%- endif %}{%- endif %}{%- endif %}{%- endif %}{%- endif %}{%- endif %}{%- endif %}{%- endif %}
{%- include 'datatable_footer.j2' %}